# env
.venv/
venv/

# IDE
.idea/
.vscode/

# cache
__pycache__/
.pytest_cache/
pytest-cache-files-*/
*.pyc

# data
data/raw/
data/interim/
data/processed/
handover_data/
handover_data.tar.gz
cach_dung.md

# outputs
outputs/
test_artifacts/

# system
.DS_Store
Thumbs.db

.gitattributes
